= render partial: 'header'

.top
  - if user_signed_in?
    .top-title
      %h1.title
        顧客情報一覧
    -# %ul.top-box
    -#   %li
    -#     患者名
    -#   %li
    -#     性別
    -#   %li
    -#     診療場所
    -#   %li
    -#     診療日
    .top-list
      %table
        %tr
          %th
            患者名
          %th
            性別
          %th
            診療場所
          %th
            診療日
        - @kartes.each do |karte|
          %tr
            %td
              = karte.name
            %td
              = karte.sex.choice
            %td
              = karte.clinic.choice
            %td
              = karte.created_at.strftime('%Y/%m/%d')
          %tr

        

        
  - else
    .top-message
      %h1.message
        顧客情報の登録・確認には会員登録またはログインが必要となります。
