= render partial: 'subheader'
.main
  = form_with model: @karte, local: true do |f|
    .central
      .central_box
        .central_box__list
          %h5.list-name
            患者名 :
          %div.name-box
            = @karte.name 
        .central_box__list
          %h5.list-name
            性別 :
          %div.gender-box
            = @karte.sex.choice
        .central_box__list
          %h5.list-name
            診療所 :
          %div.place-box
            = @karte.clinic.choice
            = @karte.facility_name

    .details
      .details_box
        .a-box
          .title
            a
          .symptoms
            病状の経過、本日の処置内容、次回予定等
          .medical_examination_box
            = @karte.medical_examination.choice
          .Doctor-name
            %h5.list-name
              歯科医師名 :
            %div.doctor-name
              = @karte.doctor_name
          .day
            %h5.days
              診療日 :
            %div.day-box
              = @karte.created_at.strftime('%Y/%m/%d')
        .explanatory_text
          .explanatory_text__box
            = @karte.before_treatment
          .time__box
            .doctor-time
              歯科医師 : 診療時間
              .doctor-time__box
                .start-time
                  = f.label "開始時間"
                  = @karte.doctor_start_date
                .end-time
                  = f.label "終了時間"
                  = @karte.doctor_end_date
            .dh-time
              DH : 診療時間
              .dh-time__box
                .start-time
                  = f.label "開始時間"
                  = @karte.dh_start_date
                .end-time
                  = f.label "終了時間"
                  = @karte.dh_end_date
    .details
      .details_box
        .b-box
          .title
            b
          .symptoms
            治療後の助言、及び療養生活をする上での留意点等
        .explanatory_text
          =  @karte.after_treatment
    .details
      .details_box
        .c-box
          .title
            c
          .instructions
            口腔ケアを行う歯科衛生士への指示内容
        .c-instructions_box
          = @karte.instructions.choice
        .explanatory_text
          = @karte.part
    .submit-buttons
      - if user_signed_in? && current_user.id == @karte.user_id
        = link_to 'カルテの編集', "/kartes/#{@karte.id}/edit", method: :get, class: "edit_btn"
        = link_to 'このカルテを削除する', karte_path(@karte.id), method: :delete, class: "delete_btn"
    .return-button
      = link_to 'もどる', root_path, class: 'btn--darkorange'